.deviceitem {
   position: relative;
   width: 40%;
   min-height: 150px;
   height: initial;
   display: inline-table;
   background-color: #ffffff;
   margin-left: 6.67%;
   margin-top: 25px;
   border: 3px solid black;
   box-sizing: border-box;
}
.devicename {
   position: relative;
   width: 100%;
   height: 30px;
   text-align: center;
   font-size: 16pt;
   z-index: 6;
   display: block;
}
.devicepic {
   position: relative;
   width: 100%;
   height: 200px;
   bottom: 5%;
   margin-bottom: 20px;
   background-position: center center;
   z-index: 5;
}

.devicerate{
   position: absolute;
   bottom: 5px;
   margin-left: 0px;
   margin-top: -20px;
   padding-left: 5px;
   float: left;
   width: 60px;
   height: 40px;
   background-color: Tomato;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   z-index: 6;
}

.promo{
   position: absolute;
   bottom: 5px;
   right: 0px;
   top: 60px;
   padding-right: 5px;
   float: right;
   width: 50px;
   height: 30px;
   line-height: 30px;
   text-align: right;
   background-color: YellowGreen;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   z-index: 6;
}

.deviceprice {
   position: absolute;
   width: 100%;
   height: 10%;
   text-align: right;
   right: 5px;
   bottom: 0px;
   display: inline-block;
   z-index: 6;
}

.doorstopper {
   width: 100%;
   display: inline-block;
   height: 1px;
}
