.assis_category {

}

.assis_subcategory {
   margin-left: 30px;
}

.assis_subtopic {
   margin-left: 30px;
}

.assis_item {
   margin-left: 30px;
}

.assis_category_label {
   font-size: 30pt;
}

.assis_subcategory_label {
   font-size: 23pt;
}

.assis_subtopic_label {
   font-size: 16pt;
}
