.category{
	max-width: 220px;
	max-height: 220px;
	border: 3px solid black;
	display: inline-block;
	padding: 30px;
	position: relative;
}

.data{
     width: inherit;
	 height: inherit;
	 position: relative;
	 background-color: Beige;
}

.name{
	text-transform: uppercase;
	text-decoration: underline;
	color: #2b78e4;
	font-size: 20px;
	margin: auto;
	margin-bottom: 30px;
	position: relative;
}

.image{
	margin: auto;
	margin-bottom:60px;
	max-width: 80px;
	max-height: 80px;
	position: relative;
}