.category{
   margin-top: 20px;
   margin-left: 15px;
   margin-right: 15px;
   width: 30%;
   max-width: 220px;
   max-height: 220px;
   border: 3px solid black;
   display: inline-block;
   box-sizing: border-box;
}

.data{
   width: 100%;
   height: 100%;
   background-color: Beige;
   box-sizing: border-box;
   padding: 30px;
}

.name{
   text-transform: uppercase;
   text-decoration: underline;
   color: #2b78e4;
   font-size: 15px;
   text-align: center;
   position: relative;
}

.image{
   top: 50%;
   transform: traslateY(50%);
   left: 50%;
   transform: translateX(-50%);
   max-width: 80px;
   max-height: 80px;
   position: relative;
}
