#side{
	background-color: white;
	position: fixed;
	width: 15%;
   left: 149px;
	top: 300px;
	z-index: 1;
}

.car{
	background-color: grey;
	width: 100%;
	height: 30px;
	padding-left:10px;
	box-sizing: border-box;
	cursor:pointer;
	border: 1px black solid;
	line-height: 30px;
}

.pre{
	width: 100%;
	height: 30px;
	padding-left:10px;
	box-sizing: border-box;
   cursor:pointer;
   border: 1px black solid;
   border-right: 0px;	
	line-height: 30px;
}

.presentazione{
	position: relative;
	top: 20px;
	margin: auto;
	margin-bottom: 0px;
	width: 80%;
	height: 300px;
	background-color: white;
	padding: 20px;
	display: block;
}

#link{
	position: relative;
	margin: auto;
	width: 80%;
	background-color: white;
	padding: 20px;
}

.device-img{
	width: 220px;
	height: auto;
	margin: 30px;
	border-radius: 8px;
	border: grey 2px solid;
	float: left;
}

.caratteristiche{
	position: relative;
	top: 20px;
	margin: auto;
	margin-bottom: 0px;
	width: 80%;
	height: 300px;
	background-color: white;
	padding: 20px;
	display: none;
}

.name{
	position: relative;
	color: blue;
	font-size: 20px;
	margin-top: 20px;
}
.price{
	position: relative;
	margin: 10px;
	
}