.filter {
   background-color: #FF6666;
   position: fixed;
   width: 250px;
   left: 20px;
   top: 150px;
   border: black solid 2px;
}

.cate > a{
   display: inline-block;
   width: 100%;
   height: 16px;
   padding-left: 20px;
}

.filter > .cate {
   border: black 1px solid;
}

.cate > .element{
   margin-left: 2.5em;
   line-height: 1.4;
   display: none;
}