.dummyheader {
   position: relative;
   width: 100%;
   height: 30px;
}

.header {
   position: relative;
   width: 100%;
   height: 200px;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   display: block;
	margin-bottom: 20px;
}

.serviceitem {
   padding-left: 50px;
	padding-right: 50px;
}
.name{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	display: block;
	padding-top: 10px;
}

.description{
	width: 50%;
	height: auto;
	position: relative;
	display: block;
	text-align: center;
	left: 25%;
	font-weight: 900;
}

.info{
	text-align: center;
}

.more{
	position: relative;
	padding: 0px 10px;
	line-height: 25px;
	border: 2px black solid;
	box-shadow: 3px 3px black;
}
.links{
	width: 100%;
	height: 110px;
}
.link{
	margin: 10px;
	width: 100px;
	height: 100px;
	display: inline-block;
	background-image: url("/pictures/info.png");
	background-repeat: no-repeat;
	background-size: 70px 70px;
	background-position: center center;
}
.scopri{
	width: 260px;
	height: 40px;
	background-color: white;
	box-shadow: 10px 10px black;
	display: inline-block;
	position: relative;
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	border: 2px black solid;
	box-sizing: border-box;
}
.products{
	left: 20px;
	
}

.offers{
	left: 180px;
}

.doorstopper {
   width: 100%;
   display: inline-block;
   height: 1px;
}