.dummyheader {
   position: relative;
   width: 100%;
   height: 30px;
}

.menu {
	width: 390px;
	height: 40px;
	right: 590px;
	top: 190px;
	transform: rotate(270deg);
	position: absolute;
}

.item {
	width: 30%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 5px;
	background-color: white;
	border: 2px black solid;
   cursor: pointer;
}

.inn{
	background-color: grey;
}

.bar{
	width: 100%;
	height: 90px;
	background-color: #3300CC;	
	background-image: url(/pictures/tim.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 40% 40%;
	margin-bottom: 30px;
}

.subtitle{
	position: relative;
	top: 70px;
	text-align: center;
}

.discover{
	width: 40%;
	height: 165px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 50px;
}

.pic{
	width: 100%;
	height: 80%;
	background-image: url(/pictures/innovation1.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 0px;	
}

.title{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.testimonial{
	display: none;
}

.quote{
	width: 100%;
	height: 300px;
	background-image: url(/pictures/quote1.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;
}

.text{
	width: 40%;
	float: left;
	color: white;
	padding: 100px;
}

.progetti{
	display: none;
}
.doorstopper {
   width: 100%;
   display: inline-block;
   height: 1px;
}