
.serviceitem{
   width: 100%;
   min-height: 160px;
   border: 1px black solid;
   background-color: white;
   display: inline-block;
}


.servicename{
   position: relative;
   width: 70%;
   top: 15px;
   font-size: 20px;
   display: inline-block;
}

.servicepic{
   float: left;
   width: 20%;
   height: 130px;
   margin-top: 30px;
   position: relative;
   display: inline-block;
   background-position: center center;
   margin-right: 0.5%;
}

.description{
   width: 60%;
   margin-top: 30px;
   display: inline-block;
}

.serviceinfo {
   display: inline-block;
   float: left;
}

.scopri{
   display: inline-block;
   float: right;
   width: auto;
   transform: translateY(80px);
   right: 1%;
   position: absolute;
   color: blue;
   font-size: 12pt;
}

.doorstopper {
   width: 100%;
   display: inline-block;
   height: 1px;
}
