.trending{
   width: 100%;
   min-height: 130px;
   max-height: initial;
   margin: 3% 0;
   display: inline-block;
   position: relative;
}

.top{
   position: relative;
   width: 45%;
   height: 120px;
   float: left;
   background-color: #ffffff;
   margin: 2% 2.5%;
   border: 3px solid black;
   box-sizing: border-box;
}

.pic{
   width: 100%;
   height: 100%;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
}

.name{
   width: 100%;
   background-color: white;
   opacity: 0.7;
   float: left;
   text-align: center;
   position: relative;
   top: 90px;

}

.util{
   position: relative;
   width: 80%;
   min-height: 100px;
   margin: 0 10%;
   background-color: white;
   display: inline-block;
   padding-bottom: 3%;
}

.link{
   position: relative;
   width: 45%;
   min-height: 50px;
   height: initial;
   float: left;
   background-color: #ffffff;
   margin: 4% 2.5% 0 2.5%;
   padding: 1% 1%;
   border: 3px solid black;
   box-sizing: border-box;
   text-align: right;
   font-size: 15px;
   line-height: 35px;
   background-position: 1% center;
   background-size: 15% 80%;
   background-repeat: no-repeat;
}

.doorstopper {
   width: 100%;
   display: inline-block;
   height: 1px;
}
