@font-face{
   font-family: mtitle;
    src: url("StoneStoryPlusp.ttf") format('truetype');
}

body { background-color: WhiteSmoke
}

.title {
  position: relative;
  top: 20px;
  left: 0px;
  margin-bottom: 20px;
  width: 100%;
  font-size : 50px;
  background-color : LightSteelBlue;
  text-align : center;
  font-family: mtitle;
  
  }

.add {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  left: 0px;
  font-size: 25;
  font-style: italic;
  float: left;
  font-family: Courier New;
  
}

a{
    text-decoration: none;
     color:MediumAquaMarine ;
}


table{
   border: 5px solid RosyBrown;
   width: 100%;
   color : Snow;
   
}

th {
   background-color: DarkCyan;
}
tr { 
    width: 100%;
    margin: 0px;
   background-color: MediumAquaMarine ;
   border-collapse: collapse;
}

tr:nth-child(even){
   background-color: MediumSeaGreen
}

tr:hover {
   background-color: SeaGreen
}

th, td {
    text-align: left;
    padding: 10px;
}

input{
   width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: OliveDrab ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: Olive;
}

