.category {
   position: relative;
   width: 40%;
   height: 160px;
   float: left;
   background-color: #ffffff;
   margin-left: 6.67%;
   margin-top: 25px;
   border: 3px solid black;
   border-radius: 25px;
   box-sizing: border-box;
   text-decoration: none;
}

.data {
   width: 80%;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   margin-left: 10%;
}

.name {
   text-align: center;
   color: #000000;
   font-variant: small-caps;
}

.image {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}

.doorstopper {
   width: 100%;
   display: inline-block;
   height: 1px;
}
