.filter {
   background-color: #F8F8F8;
   position: absolute;
   width: 100%;
   left: 0px;
   top: 0px;
   border: black solid 2px;
   display: none;
   z-index: 25;
   opacity: initial;
}

.title{
   margin-left: 10px;
   height: 75px;
   line-height: 75px;
}

.cate > a {
   display: inline-block;
   width: 100%;
   min-height: 60px;
   line-height: 20px;
   padding: 20px 0px 20px 20px;
   text-decoration: none;
   box-sizing: border-box;
   background-image: url(/pictures/down.png);
   background-repeat: no-repeat;
   background-position: top right;
   background-size: contain;
}

.filter > .cate {
   border-top: black 1px solid;
}

.cate > a:hover {
   background-color: LightBlue;
}

.cate > .element {
   margin-left: 2.5em;
   line-height: 1.4;
   display: none;
}

.element > span {
   height: 40px;
   line-height: 40px;
}

span > label{
   text-transform: capitalize;
   margin-left: 5px;
}

.choosen > .spanblock {
   display: block;
   margin-left: 5px;
   height: 50px;
   line-height: 50px;
}

span > input[type="checkbox"] {
    display:none;
}
span > input[type="checkbox"] + label span {
    display:inline-block;
    width:48px;
    height:48px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/pictures/ui/check_radio_sheet_big.png') left top no-repeat;
    cursor:pointer;
}
span > input[type="checkbox"]:checked + label span {
    background:url('/pictures/ui/check_radio_sheet_big.png') -48px top no-repeat;
}

#filteropen {
   background-color: MediumAquaMarine;
   border: solid 2px #000000;
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 60px;
   line-height: 60px;
   font-size: 20pt;
   box-sizing: border-box;
   padding-right: 30px;
   padding-left: 10px;
   border-top-right-radius: 50px;
   z-index: 27;
}
