.dummyheader {
   
}

.item{
	width: 80%;
	background-color: white;
	border: 2px black solid;
	margin: 0  10%;
	min-height: 150px;
}

.pic{
	float: right;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 40%;
	height: 150px;
	margin-right: 3%;
}

.name{
	margin: 10% 30% 10% 10%;
	font-size: 150%;
}

.doorstopper {
   width: 100%;
   display: inline-block;
   height: 1px;
}